
body {
  font-family: "Lato", sans-serif;
}

/* boxsearch */

.topnav {
  overflow: hidden;
  background-color: #EF8030;
}

.topnav a {
  float: left;
  display: block;
  color: #F8C6A2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
  padding: 16px;
  text-align:center;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}

/* sidebar */
.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f8c6a2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #EF8030;
  color: white;
  padding: 10px 15px;
  border: none;
}



#main {
  transition: margin-left .5s;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
/* trang thai doi hang */
.steps .step {
  display: block;
  width: 100%;
  margin-bottom: 35px;
  margin: 100px 0 100px 0;
  text-align: center
}

.steps .step .step-icon-wrap {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
  display: block;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 3px;
  margin-top: -1px;
  background-color: #e1e7ec;
  content: '';
  z-index: 1
}

.steps .step .step-icon-wrap::before {
  left: 0
}

.steps .step .step-icon-wrap::after {
  right: 0
}

.steps .step .step-icon {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  border: 1px solid #e1e7ec;
  border-radius: 50%;
  background-color: #f5f5f5;
  color: #374250;
  font-size: 38px;
  line-height: 81px;
  z-index: 5
}
.px-2{
  font-size: large;
}
.text-medium{
  font-size: large;
}

.steps .step .step-title {
  margin-top: 16px;
  margin-bottom: 0;
  color: #606975;
  font-size: 14px;
  font-weight: 500
}

.steps .step:first-child .step-icon-wrap::before {
  display: none
}

.steps .step:last-child .step-icon-wrap::after {
  display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
  background-color: #2DC258
}

.steps .step.completed .step-icon {
  border-color: #2DC258;
  background-color: #2DC258;
  color: #fff
}

@media (max-width: 576px) {
  .flex-sm-nowrap .step .step-icon-wrap::before,
  .flex-sm-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 768px) {
  .flex-md-nowrap .step .step-icon-wrap::before,
  .flex-md-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 991px) {
  .flex-lg-nowrap .step .step-icon-wrap::before,
  .flex-lg-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

@media (max-width: 1200px) {
  .flex-xl-nowrap .step .step-icon-wrap::before,
  .flex-xl-nowrap .step .step-icon-wrap::after {
      display: none
  }
}

.bg-faded,
.bg-secondary {
  background-color: #f5f5f5 !important;
}
/* vi tri don hang */
.part{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Lato", sans-serif;
}
.part_1{
  padding: 20px;
  font-size: 16px;
}
.part_1 h3,h4{
  font-size: large;
}
.verticalLine {
  border-left: thick solid #f5f5f5;
}

.stepp  {
  margin-top: 50%;
}
.footer{

}
.bgr_1{
  border: 1px solid #e1e7ec;
  background-color: #f8c6a2;
}

.select{
background-color: #f1f1f1;
font-size: 16px;
display: flex; 
justify-content: space-evenly;
align-items: center;
padding: 20px;
}
.select a{
  color: #EF8030;
}
.select a:hover{
  color: #606975;
  animation-delay: 00.3s;
}
.btncll{
 background-color: #EF8030;
 color: rgb(255, 255, 255);
}
.row2{
 font-size: 16px;
 padding: 20px;
}
.cot_phai{
 display: flex;
 justify-content: space-evenly;
}
.cot_trai{
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}
.trangthai{
color: #EF8030;
font-size: 16px;
margin-right: 30px;
}